In [117]:
# Importing the Libraries

import pandas as pd
import numpy as np

In [118]:
# Importing the data

pokemon = pd.read_csv('Pokemon.csv')

In [119]:
# Visualizing the data

# your code here
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [120]:
print(pokemon.shape)

(800, 13)

In [121]:
# Identifying  the distinct possible values within the columns Type 1 and Type 2.

Type1_d = display(list(pokemon['Type 1'].unique()))
Type2_d = display(list(pokemon['Type 2'].unique()))

['Grass',
 'Fire',
 'Water',
 'Bug',
 'Normal',
 'Poison',
 'Electric',
 'Ground',
 'Fairy',
 'Fighting',
 'Psychic',
 'Rock',
 'Ghost',
 'Ice',
 'Dragon',
 'Dark',
 'Steel',
 'Flying']

['Poison',
 nan,
 'Flying',
 'Dragon',
 'Ground',
 'Fairy',
 'Grass',
 'Fighting',
 'Psychic',
 'Steel',
 'Ice',
 'Rock',
 'Dark',
 'Water',
 'Electric',
 'Fire',
 'Ghost',
 'Bug',
 'Normal']

In [122]:
# Identifying the string "Mega" within the column "Name". Transfer it to the beginning of the rowÂ´s content


def clean(x):
    if 'Mega' in x:
        change= x.split('Mega')[1]
        name= 'Mega'+ change
        return name
    else:
        return x

pokemon['Name']=pokemon['Name'].apply(clean)

In [123]:
# showing the outcome

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [124]:
print(pokemon.shape)

(800, 13)

In [125]:
# new column "A/D Ratio" =  Attack / Defense.


pokemon['A/D Ratio'] = pokemon['Attack']/pokemon['Defense']
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

In [126]:
# highest A/D Ratio.

In [127]:
pokemon['A/D Ratio'].max()

9.0

In [128]:
# lowest A/D Ratio.

In [129]:
pokemon['A/D Ratio'].min()

0.043478260869565216

In [130]:
# Creating a new column called âCombo Typeâ, combining the content of the columns âType1â and âType2â, or only Type1Â´s, 
# in case Type2 is not having a valid content

pokemon['Type 2']=pokemon['Type 2'].fillna('')

def combo_type(row):    
    if row['Type 2'] == '':
        return row['Type 1']
    else:
        return row['Type 1']+ '-' + row['Type 2']
    
pokemon['Combo Type'] = pokemon.apply(combo_type, axis=1)
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False,1.209302,Fire

In [131]:
# Identifying the top 5 pokemon in terms of A/D Ratio 


top_5 = pokemon.sort_values(by='A/D Ratio', ascending=False).head(5)
top_5

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

In [132]:
# identifying the unique values within the column "Combo Type", among the top_5 Pokemon


Combo_Type_u = display(list(top_5['Combo Type'].unique()))

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock']

In [140]:
all_means = top_5.groupby('Combo Type').agg('mean').reset_index()
print(all_means)
# all_means[all_means['Combo Type'].isin(Combo_Type_u)]

   Combo Type      #  Total    HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  Bug-Poison   15.0  495.0  65.0   150.0     40.0     15.0     80.0  145.0
1     Psychic  386.0  600.0  50.0   180.0     20.0    180.0     20.0  150.0
2        Rock  408.0  350.0  67.0   125.0     40.0     30.0     30.0   58.0
3  Water-Dark  318.5  382.5  57.5   105.0     30.0     80.0     30.0   80.0

   Generation  Legendary  A/D Ratio
0         1.0        0.0      3.750
1         3.0        1.0      9.000
2         4.0        0.0      3.125
3         3.0        0.0      3.750